<div class="container">
    <div class="signup-form">
        <!-- {{signupForm.value | json}} -->
        <form [formGroup]="updateForm" (ngSubmit)="submitUpdateForm()">
            <div class="form-group">
                <h1>Update Your Profile</h1>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control"
                formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="form-control"
                formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control"
                formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                formControlName="password">
            </div>
            <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="number" name="mobileNumber" id="mobileNumber" class="form-control"
                formControlName="mobileNumber"
                >
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success" [disabled]="updateForm.invalid">update</button>
            </div>
        </form>
    </div>
</div>